.oversiktsmeny {
  display: flex;
  flex-direction: row;
  background-color: #3F7075;
  margin-left: 210px;
  justify-content: space-around;
  align-items: center;
  width: 790px;
}

.minprofil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.fullførtkapitler {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-left: 1px solid white;
  padding-left: 70px;
  margin-left: -39px;
}

.fullførtoppgaver {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-left: 1px solid white;
  padding-left: 50px;
  margin-left: -39px;
}

h3{
  color: white;
}

.minprofil h3{
  margin-top: 5px;
}

.små_bokser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.øverste_rad {
  display: flex;
  flex-direction: row;
}

.andre_rad {
  display: flex;
  flex-direction: row;
}

.liten_boks_medtekst {
  display: flex;
  flex-direction: column;
  background-color: #69b9c2;
  margin: 10px;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.liten_boks_medtekst img {
  margin-top: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #3F7075;
  margin: -10px;
  margin-bottom: 10px;
}

body {
  background-color: #CFF3F7
}

ul {
  list-style-type: none;
  padding: 0;

}

ul li {
  display: inline;

}

ul a {
  width: 240px;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  background-color: #69b9c2;
  color: white;
}

ul a:hover {
  background-color: #000010;
}

.knapper{
  display: flex;
  justify-content: flex-end;
  margin-left: 800px;
  align-items:center;
}
