

.storboks {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  margin-top: 20px;
}

.venstreboks {
  background-color: #3F7075;

}

.Logg_inn_med {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.Logg_inn_med h2 {
  font-size: 40px;
  color: #FFFFFF;
}

.Logg_inn_med a {
  margin: 10px;
}

.høyreboks {
  background-color: #69B9C2;
}

.logginn-registrer{
  margin-left: 175px;
  margin-right: 25px;
}

.signup-form h2 {
font-size: 30px;
margin-bottom: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: -10px;
}

.submit_knapp {
  margin-top: 20px;
}

button {
 font-size: 25px;
 background-color: #3F7075;
 color: #FFFFFF;
}

.submit_knapp a {
  margin-left: 20px;
  font-size: 10px;
  text-decoration: none;
  color: #000000;
}

.errormessage {
  margin-left: 30px;
  margin-top: 20px;
}

.storboks ul {
  list-style-type: none;
  padding: 0;

}

.storboks ul li{
    display: inline;
}

.storboks ul a{
  width: 240px;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  background-color: #637375;
  color: white;
}

.storboks ul a.current{
  width: 240px;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  background-color: #3F7075;
  color: white;
}

.storboks ul a:hover{
  background-color: #3F7075;
}

input {
  background-color: #69B9C2;
  border: none;
  border-bottom: 3px solid #000000;
  width: 300px;
}

input::placeholder{
    color: #000000;
}
