:root {
  --background-color: #FFFFFF;
  --primary-orange:#F5B78A;
  --primary-green: #455A64;

  --primary-text: #263238;
  --light-orange-text: #EBAE3D;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #E5E5E5;
}

.header {
  display: flex;
  flex-direction: row;
  
  height: 10rem;
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navigation__item {
  padding: 2rem;
  margin-right: 3rem;

  text-decoration: none;
  list-style: none;

  font-size: 3rem;
  line-height: 3.5rem;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;

  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--primary-text);
}

.signin {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.signin__box {
  width: 70rem;
  border: 0.4rem solid #455A64;
  box-sizing: border-box;
  filter: drop-shadow(0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25));
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.heading-primary {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: var(--primary-green);
  margin-top: 2rem;
}

.u-margin-bottom--medium {
  margin-bottom: 3rem;
}

.heading-tertiary {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--primary-green);
  width: 32rem;
}

.signup-form__input {
  border: 0.3rem solid var(--primary-green);
  box-sizing: border-box;
  border-radius: 2rem;
  float: right;
  margin-right: 15rem;
  height: 3rem;
  width: 25rem;
  position: absolute;
}

.center_input{
  width: 100%;
}

.signup-form__input:focus, .signup-form__input:active {
  outline: none;
}

.inline {
  display: flex;
  flex-direction: row;
}

.u-margin-bottom--small {
  margin-bottom: 2rem;
}

.main-content{
  margin-left: 5rem;
}

input[type="radio"]{
  display: none;
}

.label_teacher{
  position: relative;
  border: 0.3rem solid #455A64;
  box-sizing: border-box;
  border-radius: 0rem 2rem 2rem 0rem;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #455A64;
  padding: 0rem 0.5rem 0.5rem 0rem;
  background-color: #E5E5E5;
}

.label_student{
  position: relative;
  border: 0.3rem solid #455A64;
  box-sizing: border-box;
  border-radius: 2rem 0rem 0rem 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #455A64;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin-left: -5rem;
  background-color: #E5E5E5;
}

input[type="radio"]:checked + label{
  background-color: #455A64;
  color: #FFFFFF;
}

.abs-right {
  float: right;
  margin: 1rem;
}

.abs-right--2 {
  float: right;
  margin-top: -0.8rem;
}

.signup-form{
 width: 100%;
}

.submit-btn {
  padding: 1rem;
  border: none;
  background-color: var(--primary-orange);
  color: var(--primary-green);
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  border-radius: 2rem;
  float: right;
  margin: 2rem;
  margin-right: 15rem;
}

.alreadyAcc{
  color: var(--primary-green);
  text-decoration: none;
  font-size: 2.2rem;
  margin-right: 15rem;
  margin-left: 60%;
}

.svg1{
  position: fixed;
  z-index: -1;
  left: 0%;
  top: 0%;
}

.svg2{
  position: fixed;
  z-index: -1;
  right: 0%;
  top: 0%;
}
.svg3{
  position: fixed;
  z-index: -1;
  right: 0%;
  top: 0%;
}