:root {
  --background-color: #FFFFFF;
  --primary-orange:#F5B78A;
  --primary-green: #455A64;

  --primary-text: #263238;
  --light-orange-text: #EBAE3D;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #E5E5E5;
}

.header {
  display: flex;
  flex-direction: row;
  
  height: 10rem;
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navigation__item {
  padding: 2rem;
  margin-right: 3rem;

  text-decoration: none;
  list-style: none;

  font-size: 3rem;
  line-height: 3.5rem;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;

  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--primary-text);
}

.navigation-left {
  margin-top: 7rem;
  display: flex;
  flex: 0;
}

.navigation-left__container {
  width: 35rem;
}

.navigation-left__list {
  list-style: none;
  margin-left: 4rem;
}

.navigation-left__link {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 3.2rem;    
  line-height: 3.8rem;
  width: 23rem;
  height: 6rem;
  border-radius: 2rem;
  background-color: #263238;
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.active {
  background-color: var(--primary-orange) !important;
  color: #2E353A !important;
}

.main {
  display: flex;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.heading--primary {
  font-size: 5.5rem;
  line-height: 3.8rem;
  font-weight: 400;
  color: #2E353A;
  width: 100%;
}
 .liChapter{
  padding: 2rem;
  margin-right: 3rem;
  list-style: none;
  line-height: 1.5rem;
  width: 50rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  margin-top: 3rem;
 }

 .aChapter{
   text-decoration: none;
   color: #000000;
   width: 100px;
   font-size: 32px;
   font-style: normal;
   font-weight: normal; 
  }

  .svg1{
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .svg2{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  /* .aChapter:hover{
    color: red;
  } */

  .divSubChapter{
    width: 60%;
    display: flex;
  }
.center{
  display: flex;
  border: solid 1px black;

}



.liSubChapter{
 color: #FFFFFF;
  text-align: center;
  font-size: 3.2rem;    
  line-height: 3.8rem;
  width: 13rem;
  height: 13rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}