.nav-main {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E5E5E5;
  z-index: 1000;
  margin-top: 80px;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-color: #455A64;
  background-image: url('../img/menu.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  cursor: pointer;
  z-index: 1000;
}

.btn-toggle-nav:hover {
  opacity: 0.5;
}

.nav-sidebar {
  position: absolute;
  left: 0;
  top: 5px;
  height: 500px;
  visibility: hidden;
  padding: 0 5px;
  background-color: #455A64;
  transition: all 0.3s ease-in-out;
  margin-top: 135px;
}

.nav-sidebar ul{
  padding-top: 10px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li{
  line-height: 60px;
  list-style: none;
  margin-top: 0;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover{
  background-color: #222;

}
