h1{
  color: #3F7075;
  margin: 10px 20px;
  text-decoration: underline;
}

.upperContainer{
  margin: 30px 20px;
  display: flex;
  flex-direction: row;
  width: auto;

}

.upperContainer div{
  width: 600px;
  font-size: 20px;
}

.upperContainer img{
  margin: auto;
}

.lowerContainer{
  display: flex;
  flex-direction: row;
}

.lowerContainer img{
  margin-left: 20px;
}

.lowerContainer div{
  width: 600px;
  margin: 20px auto;
  font-size: 20px;
}
